@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:wght@200;300&family=Outfit:wght@100;200&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1044a3;
    --secondary-color: #f08426;
    --bg-color: #feffed;
    --black-color: #000;
    --light-blue-color: #6ea5ff;
    --font: "Montserrat", sans-serif;
}
/*GLOBAL-STYLES*/
body {
    background-color: var(--bg-color);
    font-family: var(--font);
}

header {
    background: var(--primary-color);
    min-height: 100px;
}

h1 {
    text-align: center;
    margin: 80px auto;
}

h2 {
    text-align: center;
    margin: 40px 0;
}

a {
    text-decoration: none;
    color: var(--black-color);
    display: block;
}

img {
    display: block;
    margin: 20px 0;
}

p {
    text-align: left;
    line-height: 1.5;
    margin: 20px 0;
}

nav,
#hamburger-menu {
    display: none;
}

nav ul {
    padding: 0;
}

nav li {
    display: block;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    text-align: center;
}

nav a:hover {
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 8px var(--secondary-color);
    transition: 150ms ease-in;
}

.logo {
    font-family: baumans;
    font-size: 36px;
    margin: 0 20px;
}

.logo span {
    color: var(--secondary-color);
}

.navigation a {
    color: var(--secondary-color);
}

/*HAMBURGER-MENU*/
#hamburger-menu:checked ~ .hamburger-label > span {
    transform: rotate(45deg);
}

#hamburger-menu:checked ~ .hamburger-label > span::before {
    top: 0;
    transform: rotate(0);
}

#hamburger-menu:checked ~ .hamburger-label > span::after {
    top: 0;
    transform: rotate(90deg);
}

nav  {
    display: block;
    transition: 300ms ease;
} 

#hamburger-menu:checked ~ nav {
    display: block;
    opacity: 1;
    transform: translateX(0); 
}

.hamburger-label {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.hamburger-label > span,
.hamburger-label > span::before,
.hamburger-label > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--bg-color);
    transition-duration: 250ms;
}

.hamburger-label > span::before {
    content: "";
    top: -8px;
}

.hamburger-label > span::after {
    content: "";
    top: 8px;
}

/*HOME-PAGE*/
.showcase {
    max-width: 1630px;
    margin: 40px auto;
}

.showcase img {
    width: 100%;
    height: auto;
}

.home-box {
    max-width: 500px;
    margin: 0 auto;
}

.hours p {
    text-align: center;
}

.hours h3 {
    text-align: center;
}

 .hours h2, p {
    width: 100%;
} 

.kids img {
    width: 100%;
    height: auto;
}

.adults img {
    width: 100%;
    height: auto;
}

/*FOOTER*/
footer {
    background-color: var(--primary-color);
}

.footer-logo {
    text-align: center;
}

.contact-info {
    margin: 0 auto;
}

.contact-info p {
    text-align: center;
}

.copyright p {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    nav {
        transform: translateX(-500px);
    }
} 

@media only screen and (min-width: 769px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        align-items: center;
        margin-right: 10rem;
    }

    .hamburger-label,
    #hamburger-menu {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
    }

    /*HOME-PAGE*/
    .museum-offers {
        display: flex;
        justify-content: space-evenly;
        flex: wrap;
        text-align: center;
    }

    .home-page-box {
        flex: 1;
        margin: 0 20px;
    }

    /*FOOTER*/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "footer-logo social-btn contact-info"
        "copyright copyright copyright";
    }

    .footer-logo {
        grid-area: footer-logo;
        justify-self: start;
    }
    
    .contact-info {
        grid-area: contact-info;
    }

    .social-btn {
        grid-area: social-btn;
        justify-self: end;
    }

    .copyright {
        grid-area: copyright;
    }
}
