.large-txt {
    font-size: 52px;
    font-weight: bold;
}

.medeum-txt {
    font-size: 40px;
    font-weight: bold;
}

.small-txt {
    font-size: 20px;
}

.btn {
    background-color: var(--secondary-color);
    color: var(--black-color);
    font-size: 16px;
    padding : 5px 30px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--black-color);
    color: var(--secondary-color);
    font-size: 16px;
    padding : 5px 30px;
    text-decoration: none;
    transition: 300ms ease-out;
    cursor: pointer;
}

.current {
    font-weight: bold;
    text-shadow: 2px 2px 8px var(--secondary-color);
}
